<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819915323527-livfmbodfu6jq8bctah1qftsmuu4rd4k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819915323527-livfmbodfu6jq8bctah1qftsmuu4rd4k</string>
	<key>API_KEY</key>
	<string>AIzaSyB48UpKKDMRHzcjtfVZx6md7JFTghkfXLU</string>
	<key>GCM_SENDER_ID</key>
	<string>819915323527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sanket190997-gmail.com.Sanko-music</string>
	<key>PROJECT_ID</key>
	<string>sanko-music</string>
	<key>STORAGE_BUCKET</key>
	<string>sanko-music.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819915323527:ios:8792431a1ac7bc5357a022</string>
</dict>
</plist>